/*
Common
********************/
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*
Post
********************/
.container .menu_icon{
    width: 20px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.posts li .menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: z;

}

.posts li .menu a{
    text-decoration: none;
    color: black;
}

.posts li .menu:hover{
    text-decoration: none;
    background-color: lightgrey;
    transition-duration: 0.4s;
}
.posts li{
    display: flex;  
    padding: 20px;
    position: relative;
}

.posts li .logo{
    flex-basis: 15%;
}

.posts li .logo img{
    width: 60%;
}
.posts li .name_body {
    flex-basis: 85%;
}

.container{
    border-top: 1px solid #ccc;
}

.posts li .name_body .name {
    font-weight: bold;
}

.posts li .name_body .datetime {
    color: gray;
}

ul{
    padding: 0;
}

@media screen and (max-width: 500px){
    .posts li .name_body .name{
        font-size: 20px;
    }
}

.post_form{
    padding: 20px 40px;
}

.post_form input{
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-family: Helvetica;
}

.post_form textarea{
    width: 70%;
    padding: 10px;
    border: none;
    font-family: Helvetica;
}

.submit{
    background-color: rgb(29, 161, 242);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    box-sizing: content-box;
    cursor: pointer;
    font-family: Helvetica;
}

.main{
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

h1{
    padding: 20px 20px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

form{
    border: 1px solid black;
    position: relative;
}

.bottom{
    display: flex;
}