{% extends "base.html" %} {% block content %} 

{% load static %}
<section class="content">
    <div class='main'>
        <h1>Home</h1>
    <section class="post_form">
        
        <form action="/" method="POST">
            {% csrf_token %}
        <div class="icon">
            <img class="my_icon" src="{% static 'img/user.png' %}">
        </div>
         <div class="my_form">  
            <input class="name" type="text" name="name" placeholder="Your Name" maxlength="20" required style="
            padding: 5px;
            width: 95%;
        "> 
            <textarea name="body" placeholder="What's happening?" required></textarea>
            <div class="bottom">
                <button class="red submit" type="submit">Tweet</button>
                <input type="file" id="file" accept="{image/*}"> 
                <label for="file">Upload
                    <i class="material-icons">
                        add_photo_alternate
                    </i>
                </label>

            </div>
         </div>    
         </form>
    </section>
    <section class="posts">
        <ul>
            {% for post in posts %}
            
            <li class="container">
                <img class="menu_icon js-menu-icon"  src="{% static 'img/menu.png' %}">
                <a href="/delete/{{ post.id }}/" class="menu">Delete</a>
                </a>
                <div class="logo">
                    <img src="{% static 'img/user.png' %}">
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}<br></div>
                    <p>{{ post.body }}<br></p>
                    <div class="datetime">{{ post.created_at }}<br></div>
                </div>
                
            </li>  
            
            {% endfor %}
        </ul>
    </section>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>


{% endblock %}