{% extends "base.html" %} {% block content %} 

{% load static %}
<section class="content">
    <div class='main'>
        <nav class="home">
           <h1>Edit</h1> 
        </nav>
        
    <section class="post_form">
        
        <form action="/edit/{{ post.id }}/" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
        <div class="icon">
            <img class="my_icon" src="{% static 'img/user.png' %}">
        </div>
         <div class="my_form">  
            <input class="name" type="text" name="name" value="{{ post.name }}" required style="
            padding: 5px;
            width: 95%;
        "> 
            <textarea class="body" name="body" required>{{ post.body }}</textarea>
            <img class="image" src="{{ post.image.url }}">
            <div class="bottom">                
                <div>
                    <div class="img-up"> <input type="file" name="image" id="file" accept="{image/*}"> </div>
                    <label for="file">Upload
                        <i class="material-icons">
                            add_photo_alternate
                        </i>
                    </label>
                </div>
                <div class='bottom-button'>
                    <a class="cancel"href="/">Cancel</a>
                    <button class="update" type="submit">Update</button> 
                </div>



            </div>
         </div>   
         </form>
    </section>
    <section class="posts">
        <ul>
            {% for post in posts %}
            
            <li class="container">
                <div>
                   <img class="menu_icon js-menu-icon circle"  src="{% static 'img/menu.png' %}">
                <a href="/delete/{{ post.id }}/" class="menu">Delete</a>
                </a> 
                 </div>
                <div class="logo">
                    <img src="{% static 'img/user.png' %}">
                </div>
                <div class="name_body">
                    <div class="name">{{ post.name }}<br></div>
                    <p>{{ post.body }}<br></p>
                    <div class="datetime">{{ post.created_at }}<br></div>
                    <img class="image" src="{{ post.image.url }}">
                </div>
                
            </li>  
            
            {% endfor %}
        </ul>
    </section>
    </div>
</section>


{% endblock %}